language: php

php:
  - 5.6
  - 7.0
  - 7.1
  - nightly

env:
  matrix:
    - COMPOSER_OPTS=""
    - COMPOSER_OPTS="--prefer-lowest --prefer-stable"

matrix:
  allow_failures:
    - php: nightly

services:
  - memcached
  - redis

before_install:
  - phpenv config-add .travis.php.ini

before_script:
  - composer self-update
  - composer update $COMPOSER_OPTS
  - composer install

script:
  - vendor/bin/phpunit

after_success:
    - travis_retry php vendor/bin/php-coveralls -v
