<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="tests/bootstrap.php"
  colors="true"
>
  <coverage>
    <report>
      <!-- https://github.com/php-coveralls/php-coveralls#phpunit -->
      <clover outputFile="build/logs/clover.xml"/>
      <text outputFile="php://stdout" showUncoveredFiles="false"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="PHPUnit">
      <directory>./tests/*</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
  <extensions>
    <bootstrap class="VCR\PHPUnit\TestListener\Extension\VCRExtension" />
  </extensions>
</phpunit>
