<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="PHPUnit">
      <directory>./tests/*</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="coverage-text" target="php://stdout" showUncoveredFiles="false" />
  </logging>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">./src</directory>
    </whitelist>
  </filter>
  <listeners>
    <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
  </listeners>
</phpunit>
