html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #eee;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13pt;
  font-weight: 300;
  color: #656565;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #2b3f48;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

ul.actions {
  text-align: center;
}

p {
  line-height: 180%;
}

a {
  color: #00f;
}

a:hover {
  text-decoration: none;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  width: 1000px;
}

.container a {
  color: #dc00ff;
}

/* ******************************************************************************
 Image Style
******************************************************************************** */

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/* ******************************************************************************
 List Styles
******************************************************************************** */

ul.staff {
  margin-bottom: 3em;
}

ul.staff li {
  display: inline-block;
}

ul.staff li img {
  width: 80%;
  border-radius: 50%;
}

/* ******************************************************************************
 Social Icon Styles
******************************************************************************** */

ul.contact {
  margin: 0;
  padding: 2em 0 0 0;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0 0.3em;
  font-size: 1em;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a {
  color: #fff;
}

ul.contact li a::before {
  display: inline-block;
  background: #3f3f3f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #fff;
}

ul.contact li a.icon-twitter::before { background: #2daae4; }
ul.contact li a.icon-facebook::before { background: #39599f; }
ul.contact li a.icon-dribbble::before { background: #c4376b; }
ul.contact li a.icon-tumblr::before { background: #31516a; }
ul.contact li a.icon-rss::before { background: #f2600b; }

/* ******************************************************************************
 Button Style
******************************************************************************** */

.button {
  display: inline-block;
  padding: 0 3em;
  background: #27ae61;
  border-radius: 8px;
  letter-spacing: 0.2em;
  line-height: 4em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1em;
  color: #fff;
}

.button::before {
  display: inline-block;
  background: #ffc31f;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}

a.button {
  color: #fff;
}

/* ******************************************************************************
 Heading Titles
******************************************************************************** */

.title {
  margin-bottom: 3em;
}

.title h2 {
  font-size: 3.2em;
}

.title .byline {
  font-size: 1.3em;
  color: #6f6f6f;
}

/* ******************************************************************************
 4-column
******************************************************************************** */

.box1,
.box2,
.box3,
.box4 {
  width: 235px;
}

.box1,
.box2,
.box3 {
  float: left;
  margin-right: 20px;
}

.box4 {
  float: right;
}

/* ******************************************************************************
 3-column
******************************************************************************** */

.boxA,
.boxB,
.boxC {
  width: 320px;
}

.boxA,
.boxB {
  float: left;
  margin-right: 20px;
}

.boxC {
  float: right;
}

/* ******************************************************************************
 2-column
******************************************************************************** */

.tbox1,
.tbox2 {
  width: 575px;
}

.tbox1 {
  float: left;
}

.tbox2 {
  float: right;
}

/* ******************************************************************************
 Header
******************************************************************************** */

#header {
  position: relative;
  padding: 3em 0;
}

/* ******************************************************************************
 Copyright
******************************************************************************** */

#copyright {
  overflow: hidden;
  padding: 5em 0;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

#copyright p {
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.7em;
  color: rgba(0, 0, 0, 0.5);
}

#copyright a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

/* ******************************************************************************
 Featured
******************************************************************************** */

#featured {
  overflow: hidden;
  padding: 5em 0;
  background: #27ae61;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}

#featured a {
  color: rgba(255, 255, 255, 1);
}

#featured .button {
  background: #fff;
  margin-top: 3em;
  font-size: 1em;
  color: #27ae61;
}

#featured .title h2 {
  color: #fff;
}

#featured .title .byline {
  color: rgba(255, 255, 255, 0.6);
}

/* ******************************************************************************
 Menu
******************************************************************************** */

#menu {
  position: absolute;
  top: 2em;
  right: 0;
}

#menu ul {
  display: inline-block;
}

#menu li {
  display: block;
  float: left;
  text-align: center;
}

#menu li a,
#menu li span {
  padding: 1em 1.5em;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #2b3f48;
}

#menu .current_page_item a {
  color: #27ae61;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
  color: #2b3f48;
}

/* ******************************************************************************
 Content
******************************************************************************** */

#content {
  overflow: hidden;
  padding: 4em 0 5em 0;
  background: #070258;
  background-size: cover;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}

#content .title {
  text-align: center;
}

#content .title h1 {
  color: #fff;
}

#content .title h2 {
  color: #fff;
}

#content .title .byline {
  color: rgba(255, 255, 255, 0.6);
}

#content #logo {
  text-align: center;
}

#content .button {
  margin-top: 3em;
  background: #2b3f48 !important;
}

/* ******************************************************************************
 Page
******************************************************************************** */

#page {
  padding: 5em 0;
  text-align: center;
}

#page .button {
  margin-top: 2em;
  display: inline-block;
  text-align: center;
}

.box {
  padding: 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#extra {
  overflow: hidden;
  padding: 5em 0;
}

#extra .title {
  text-align: center;
}

#extra .button {
  margin-top: 5em;
}

pre {
  line-height: 1.4em;
  font-family: 'Inconsolata', monospace;
  border-radius: 10px;
  background-color: #1b0d0d;
  padding: 1em;
  text-align: left;
}

code {
  font-family: 'Inconsolata', monospace;
  padding: 0.2em;
}
